<!DOCTYPE html>
<html lang="en-us">
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <meta name="description" content="">
    <link rel="icon" type="image/ico" href="static/favicon1.ico" /> <!-- Addition of favicon -->

    <!-- Tooltips -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="intro_area">
        <h2>Hate Speech / Offensive Language Detection</h2>

    </div>


    <div class="main_area">



        <!-- Main Input For Receiving Query to our ML -->
        <div class="login-box">
            <form action="/">
                <!-- <textarea rows="12" cols="60" name="content" placeholder="Enter the text..."
                autocomplete="off">{{ email }}</textarea>

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button> -->

                <div class="user-box">

                    {% if prediction %}
                    {% if prediction == 1 %}
                    <h2 class="neonText2 pulsate2">Hate Speech Detected</h2>
                    {% else %}
                    <h2 class="neonText pulsate1">Not a Hate Speech</h2>
                    {% endif %}
                    {% endif %}
                    <p id="display"></p>

                </div>

                <a href="/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Home
                </a>
            </form>

        </div>

        <br>
        <br>


        <div>


        </div>



        <script src='https://kit.fontawesome.com/a076d05399.js'></script>

        <script type="text/javascript">
            // Add tooltips
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

</body>

</html>